@import vars
$leftmargin: 0.28cm
h2.pagetitle 
    text-align: left
    font-size: 24px
    line-height: 24px 
    padding: 0.4cm
#yearly1, #yearly2
    display: flex
    height: 100%
    .leftside
        width: 50% 
        padding-left: 0.6cm
    .rightside
        width: 50% 
        margin: 0
        padding: 0
        .lines 
            $howmanylines: 24 
            $container-height: $pageheight
            height: 100%
            padding-top: 12%
            hr
                border: 0
                border-bottom: 1px solid #5e5e5e
                margin: calc($container-height / $howmanylines) 
                width: 100%

    h2 
        padding-left: $leftmargin
        padding: 10px 0
        font-size: 16px
    table 
        font-size: 11px
        border-collapse: collapse
        border: 1px solid #5e5e5e
        padding-left: $leftmargin
        padding-bottom: 0.5cm
        height: calc($pageheight * 0.08)
        width: calc($pagewidth * 0.4)
        td, th
            padding: 4px 
            text-align: center
            vertical-align: middle
            border: 1px solid #999999
        tr:nth-child(even) 
            background-color: #f2f2f2
