@import vars
@import cover
@import index
@import daily
@import months
@import year

@page
    size: 156mm 209mm
    margin: 0mm

div.thepage 
  size: 156mm 209mm 
  height: 209mm !important
  width: 156mm !important
  margin: 0mm
  padding: 0mm 
  page-break-after: always   
  overflow: hidden 
// RESET
*,
*::before,
*::after
  box-sizing: border-box

*
  margin: 0
  padding: 0
html
  width: 100%

body
  line-height: 1.5
  -webkit-font-smoothing: antialiased

img, picture, video, canvas, svg
  display: block
  max-width: 100%

input, button, textarea, select
  font: inherit

p, h1, h2, h3, h4, h5, h6
  overflow-wrap: break-word

h1
  text-transform: uppercase

#contents ul
  padding: 3em

  li
    list-style-type: none

    a
      color: #000000
      text-decoration: none
 

      &::before
        content: target-text(attr(href))

      &::after
        content: ' ' ' ' target-counter(attr(href), page)
        font-kerning: none

 

body  
    bg-color: #eaeaea    
    color: black
    font-family: "Open Sans", sans-serif
    font-size: 14px
    line-height: 22px 

