{% extends './base.html' %}

{% block content %}
  <h2 class="pagetitle">Yearly Calendar Page 2</h2>
  <div id="yearly">
    <div class="leftside">
      {% include './month_7.html' %}
      {% include './month_8.html' %}
      {% include './month_9.html' %}
    </div>
    <div class="rightside">
      {% include './month_10.html' %}
      {% include './month_11.html' %}
      {% include './month_12.html' %}
    </div>
  </div>
  <div class="pagebreak"></div>
{% endblock %}
