{% extends './base.html' %}

{% block content %}
  <div class="thepage">
    <div id="covertop"></div>
    <div class="thecover">
      
      <div class="theyear">
        <h1>{{ startyear }}</h1>
      </div>
    </div> 
  </div>
{% endblock %}
