{% extends "./base.html" %}


{% block content %}
<div class="thecover">
<div class="toppart">
</div>
<div class="theyear">
        <h1>{{ startyear }}</h1>
</div>
</div>
<div class="pagebreak"></div>
{% endblock content %}
    