{% extends "./base.html" %}


{% block content %}
<div class="theindex">
    <h1>INDEX</h1>
    
    <a href="monthly_page_1.html">Month 1</a>
</div>
<div class="pagebreak"></div>
{% endblock content %}
    