<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        {% include 'cover.html' %}
        {% include 'index.html' %}
        {% include 'year_1.html' %} 
        {% include 'year_2.html' %} 
        {% include 'dailies.html' %} 
    </body>
</html>