{% extends "./base.html" %} 
{% block content %}
<div class="leftside">
  <div id="{{current_date}}"></div>
  <h2>{{ current_date }} - {{ current_day }} - {{ current_month }}</h2>
  <div class="dailyschedule">
    {% for _ in range(24) %}
    <hr />
    {% endfor %}
  </div>
  <a href="{{ prev_link }}">Previous</a>
  <a href="{{ next_link }}">Next</a>
</div>
<div class="pagebreak"></div>
{% endblock content %}
